predictives/__pycache__/diamonds_widi_06.cpython-37.pyc
predictives/.ipynb_checkpoints/credit_card_widi-checkpoint.ipynb
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/settings.json
